<footer class="container">

  <hr class="my-5">

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <p class="navbar-text">
        {% if site.author %}
        {{ site.author | escape }}
        {% else %}
        {{ site.title | escape }}
        {% endif %}
      </p>
    </li>

    {% if site.github_username %}
    <li class="nav-item">
      {% include icon-github.html username=site.github_username %}
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li class="nav-item">
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    {% endif %}
  </ul>

</footer>
