---
layout: default
---

<hr class="mb-5">

<section>
  <h1 class="text-center display-4">
    We celebrate
    <br>
    10 Years of MMT 🎉
  </h1>

  <div class="row justify-content-center mt-3">
    <div class="col-8">
      {{ content }}
    </div>
  </div>

  <h2 class="text-center mt-5 mb-5">
    🗓Schedule
    <br>
    <small class="text-muted">(It's just a rough one)</small>
  </h2>

  <div class="row justify-content-center">
    <div class="col-4">
      <h4 class="text-center text-muted">Friday, March 2nd 2018</h4>

      <h5 class="text-center mt-5">
        {% img barcamp class="img-fluid" width="75%" %}
      </h5>
      <dl class="mt-5">
        <dt>09:00 <i>Kickoff</i></dt>
        <dd>Say Hello to old friends and make new ones!</dd>

        <dt>10:00 <i>Session Planning</i></dt>
        <dd>Propose a talk, it you can find at least one person intersted, you are good to go.</dd>

        <dt>11:00 <i>Talks, Talks, Talks</i></dt>
        <dd><strong>K</strong>nowledge <strong>T</strong>ransfer <strong>D</strong>eluxe</dd>

        <dt>12:30 <i>Lunch Break</i></dt>
        <dd>Delicious food, served by Franz & Friends.</dd>

        <dt>14:00 <i>Talks Pt. 2</i></dt>
        <dd>Listen baby, ain't no …</dd>

        <dt>17:00 <i>Retrospective</i></dt>
        <dd>Dump your💩 here.</dd>
      </dl>
    </div>

    <div class="col-4">
      <h4 class="text-center text-muted">Saturday, March 3rd 2018</h4>

      <h5 class="text-center mt-5">
        {% img concat class="img-fluid" width="75%" %}
      </h5>
      <dl class="mt-5">
        <dt>09:00 <i>Breakfast</i></dt>
        <dd>Say Hello to old friends and make new ones!</dd>

        <dt>10:00 <i>Keynote</i></dt>
        <dd>Propose a talk, it you can find at least one person intersted, you are good to go.</dd>

        <dt>11:00 <i>Talks, Talks, Talks</i></dt>
        <dd><strong>K</strong>nowledge <strong>T</strong>ransfer <strong>D</strong>eluxe</dd>

        <dt>12:30 <i>Lunch Break</i></dt>
        <dd>Delicious food, served by Franz & Friends.</dd>

        <dt>14:00 <i>Talks Pt. 2</i></dt>
        <dd>Listen baby, ain't no …</dd>

        <dt>17:00 <i>Lightning Talks</i></dt>
        <dd>Dump your💩 here.</dd>

        <dt>18:00 <i>Closing Task</i></dt>
        <dd>Dump your💩 here.</dd>
      </dl>
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-4">
      <h5 class="text-center mt-5">
        {% img ludecat class="img-fluid" width="75%" %}
      </h5>
      <dl class="mt-5">
        <dt>18:00 <i>Find a Team</i></dt>
        <dd>You are a single player or you brought all your friends? Does not matter. Everyone is allowed to play with
          us.
        </dd>

        <dt>19:00 <i>Group Stage</i></dt>
        <dd>Up to 6 groups. No mercy.</dd>

        <dt>23:00 <i>Final Round</i></dt>
        <dd>…and ✌️</dd>
      </dl>
    </div>

    <div class="col-4">
      <h5 class="text-center mt-5">
        {% img concat class="img-fluid" width="75%" %}
      </h5>
      <dl class="mt-5">
        <dt>20:00 <i>Party</i></dt>
        <dd>You are a single player or you brought all your friends? Does not matter. Everyone is allowed to play with
          us.
        </dd>

        <dt>24:00 <i>End of the Show</i></dt>
        <dd>Up to 6 groups. No mercy.</dd>

        <dt>06:00 <i>That's your fault</i></dt>
        <dd>…and ✌️</dd>
      </dl>
    </div>
  </div>
</section>

<hr class="my-5">

<section class="mt-5">
  <h2 class="text-center mt-5 mb-5">
    💵 Sponsorship 👐
  </h2>

  <div class="row justify-content-center">
    <div class="col-8">
      <p>
        Up to 500 web/game developers, designers and UX experts from all over the world will be coming to Salzburg,
        Austria
        for the 10 years MMT fest. And you have the unique opportunity to create meaningful connections with this
        diverse
        group.
      </p>

      <strong>Do you…</strong>
      <ul>
        <li>want to hire highly motivated web developers,</li>
        <li>consider sending your team on a great tour,</li>
        <li>aim to become known in the community or</li>
        <li>want to say thank you to the Salzburg and international Web Development scene?</li>
      </ul>

      <p>
        <strong>
          Then <i>10 Years MMT</i> is a perfect match.
          <br>
          We would love to welcome you aboard as one of our sponsors.
        </strong>
      </p>

      <p class="mt-5">
        <strong>Sponsoring Document</strong>
        <br>
        We offer several packages but we'd like to hear your create ideas too.
        <br>
        <a href="/assets/sponsoring_document.pdf">Download Sponsoring Document</a>
      </p>

      <p class="mt-5">
        <strong>Contact us today</strong>
        <br>
        Reach out to one of the organizers. We are happy to assist you.
      </p>
      <ul>
        <li><a href="mailto:hannes.moser@fh-salzburg.ac.at">Brigitte Jellinek, Barcamp</a></li>
        <li><a href="mailto:hannes.moser@fh-salzburg.ac.at">Florian Jindra, lude.cat</a></li>
        <li><a href="mailto:hannes.moser@fh-salzburg.ac.at">Hannes Moser, .concat()</a></li>
      </ul>
    </div>
  </div>

</section>
