---
layout: default
---

<section class="home row justify-content-center align-items-start">
  <div class="text-center col-12 col-md-4 home__left">
    <h1 class="display-4 text-right home_heading">
      <br>We celebrate<br><span class="highlighted">10 Years</span> of MMT!</h1>
  </div>

  <div class="col-12 col-md-5 home__right">
    <div class="home_text">
      {{ content }}
    </div>
  </div>
</section>


<section class="schedule-teaser row justify-content-center align-items-start">
  <div class="col-1"></div>
  <div class="col-12 col-md-3 schedule-teaser__left">
    <h1 class="schedule-teaser__heading display-5">
      <span style="color:#fff">Schedule of Events</span> for our celebration weekend
    </h1>
  </div>
  <div class="col-12 col-md-4 schedule-teaser__right">
    <div class="schedule-teaser__text">
      <p>
        We invite all Partners, graduates, students, friends and colleagues to join us in celebration of the past and to
        envision the next ten years!
      </p>
    </div>
  </div>
</section>


<section class="schedule">
  <div class="row d-flex justify-content-center align-items-start day1">
    <div class="col-2"></div>
    <div class="col-12 col-md-5 date">
      <h3 class="date__headline">
        <span class="date__headline--day">Friday</span>
        <span class="date__headline--date">| March 2<sup>nd</sup> 2018</span>
      </h3>
    </div>
    <div class="col-12 col-md-6 day">
      <div class="row align-items-center justify-content-center">
        <div class="col-6 col-md-5 day__left">
          {% img barcamp class="event-logo" %}
          <dl class="day__timetable">
            <dt>
              <time datetime="2018-03-02 09:00">9 am</time>
              <br> <h5 class="headline">Kickoff</h5></dt>
            <dd>Say Hello to old friends and make new ones!</dd>

            <dt>
              <time datetime="2018-03-02 10:00">10 am</time>
              <br> <h5 class="headline">Session Planning</h5></dt>
            <dd>Propose a talk, if you can find at least one person interested, you are good to go.</dd>

            <dt>
              <time datetime="2018-03-02 11:00">11 am</time>
              <br> <h5 class="headline">Talks, Talks, Talks</h5></dt>
            <dd>Knowledge Transfer Deluxe</dd>

            <dt>
              <time datetime="2018-03-02 12:30">12:30 pm</time>
              <br> <h5 class="headline">Lunch Break</h5></dt>
            <dd>Delicious food, served by Franz & Friends.</dd>

            <dt>
              <time datetime="2018-03-02 14:00">2 pm</time>
              <br> <h5 class="headline">Talks Pt. 2</h5></dt>
            <dd>Listen baby, ain't no …</dd>

            <dt>
              <time datetime="2018-03-02 17:00">5 pm</time>
              <br> <h5 class="headline">Hello Alumnis</h5></dt>
            <dd>MultiMediaTechnology 10th Anniversary</dd>
          </dl>
        </div>
        <div class="col-6 col-md-5 day__right">
          {% img ludecat class="event-logo" %}
          <dl class="day__timetable">
            <dt>
              <time datetime="2018-03-02 18:00">6 pm</time>
              <br> <h5 class="headline">Find a Team</h5></dt>
            <dd>You are a single player or you brought all your friends? Does not matter. Everyone is welcome to play
              with us.
            </dd>

            <dt>
              <time datetime="2018-03-02 19:00">7 pm</time>
              <br> <h5 class="headline">Group Stage</h5></dt>
            <dd>Up to 6 groups. No mercy.</dd>

            <dt>
              <time datetime="2018-03-02 23:00">11 pm</time>
              <br> <h5 class="headline">Final Round</h5></dt>
            <dd>…and ✌️</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row d-flex justify-content-center align-items-start day2">
    <div class="col-3"></div>
    <div class="col-12 col-md-5 mr-auto date">
      <h3 class="date__headline">
        <span class="date__headline--day">Saturday</span>
        <span class="date__headline--date">| March 3<sup>rd</sup> 2018</span>
      </h3>
    </div>

    <div class="col-12 col-md-6 ml-auto day">
      <div class="row align-items-center justify-content-center">
        <div class="col-6 col-md-5 day__left">
          {% img concat class="event-logo" %}
          <dl class="day__timetable">
            <dt>
              <time datetime="2018-03-02 09:00">9 am</time>
              <br> <h5 class="headline">Breakfast</h5></dt>
            <dd>Delicious breakfast, served by Franz & Friends.</dd>

            <dt>
              <time datetime="2018-03-03 10:00">10 am</time>
              <br> <h5 class="headline">Keynote</h5></dt>
            <dd>It's keynote time.</dd>

            <dt>
              <time datetime="2018-03-03 11:00">11 am</time>
              <br> <h5 class="headline">Talks, Talks, Talks</h5></dt>
            <dd>Best talks in town.</dd>

            <dt>
              <time datetime="2018-03-03 12:30">12:30 pm</time>
              <br> <h5 class="headline">Lunch Break</h5></dt>
            <dd>Marvelous lunch, served by Franz & Friends.</dd>

            <dt>
              <time datetime="2018-03-03 14:00">2 pm</time>
              <br> <h5 class="headline">Talks Pt. 2</h5></dt>
            <dd>Even more talks.</dd>

            <dt>
              <time datetime="2018-03-03 17:00">5 pm</time>
              <br> <h5 class="headline">Lightning Talks</h5></dt>
            <dd>The reason we run this conference.</dd>

            <dt>
              <time datetime="2018-03-03 18:00">5 pm</time>
              <br> <h5 class="headline">Closing Talk</h5></dt>
            <dd>Another important talk.</dd>
          </dl>
        </div>
        <div class="col-6 col-md-5 day__right">
          {% img concat class="event-logo" %}
          <dl class="day__timetable">
            <dt>
              <time datetime="2018-03-03 20:00">8 pm</time>
              <br> <h5 class="headline">Party</h5></dt>
            <dd>
              Get dinner first. The party will be long and intense.
            </dd>

            <dt>
              <time datetime="2018-03-04 00:00">12 am</time>
              <br>
              <h5 class="headline">End of the Show</h5></dt>
            <dd>We go to bed now. Do whatever you want.</dd>

            <dt>
              <time datetime="2018-03-04 06:00">6 am</time>
              <br> <h5 class="headline">That's your fault</h5></dt>
            <dd>…and ☮️</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</section>


<section class="sponsorship">
  <div class="row justify-content-center align-items-start">
    <div class="col-12 col-md-4 order-2 sponsorship__right">
      <h1 class="sponsorship__heading display-5">
        <span style="color:#fff">Considering a</span> Sponsorship?
      </h1>
    </div>
    <div class="col-12 col-md-5 order-1 sponsorship__left">
      <div class="sponsorship__text">
        <p>
          Up to 500 web/game developers, designers and UX experts from all over the world will be coming to Salzburg,
          Austria
          for the 10 years MMT fest. And you have the unique opportunity to create meaningful connections with this
          diverse
          group.
        </p>

        <strong>Do you…</strong>
        <ul>
          <li>want to hire highly motivated web developers,</li>
          <li>consider sending your team on a great tour,</li>
          <li>aim to become known in the community or</li>
          <li>want to say thank you to the Salzburg and international Web Development scene?</li>
        </ul>

        <p>
          <strong>
            Then <i>10 Years MMT</i> is a perfect match.
            <br>
            We would love to welcome you aboard as one of our sponsors.
          </strong>
        </p>

        <p class="mt-5">
          <strong>Sponsoring Document</strong>
          <br>
          Bei Sponsoring Document: "we offer several packages but of course we'd like to hear your creative ideas too!
          <br>
          <a href="{% asset_path 'sponsoring-document.pdf' %}">Download Sponsoring Document</a>
        </p>

        <p class="mt-5">
          <strong>Contact us today</strong>
          <br>
          Reach out to one of the organizers. We are happy to assist you.
        </p>
        <ul>
          <li><a href="mailto:brigitte.jellinek@fh-salzburg.ac.at">Brigitte Jellinek, Barcamp</a></li>
          <li><a href="mailto:florian.jindra@fh-salzburg.ac.at">Florian Jindra, lude.cat</a></li>
          <li><a href="mailto:hannes.moser@fh-salzburg.ac.at">Hannes Moser, .concat()</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer class="footer my-5">
  <section class="footer__links">
    <div class="row justify-content-center align-items-start">
      <div class="col-12 col-md-5">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="https://multimediatechnology.at">MultiMediaTechnology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://multimediatechnology.at/impressum/">Imprint</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4"></div>
    </div>
  </section>
</footer>
